<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>632865725104-n237v30hh3vhp3c0psfkt1ivl39g4hff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.632865725104-n237v30hh3vhp3c0psfkt1ivl39g4hff</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>632865725104-hm2tb0okcnvg73bmj8h6kt7v7tchu7v4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTmKcJpQhDxgSgyk86gyqxdkcYh9Z5i3c</string>
	<key>GCM_SENDER_ID</key>
	<string>632865725104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.consultas.cedu</string>
	<key>PROJECT_ID</key>
	<string>card-4bbb6</string>
	<key>STORAGE_BUCKET</key>
	<string>card-4bbb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:632865725104:ios:70405e5af64ad222307975</string>
</dict>
</plist>